<!-- 
verification_date - Дата проверки учебного плана
curriculum_file - Название файла учебного плана
site_url - URL сайта, на котором размещен учебный план
specialty - Специальность
curriculum_year - Год приема
lvl_education - Уровень образования
form_education - Форма обучения
education_program - Наличие образовательной программы
calendar_graphic - Наличие календарного учебного графика
curriculum_plan - Наличие учебного плана
gia_program - Наличие программы ГИА
education_program_vosp - Наличие рабочей программы воспитания
education_plan_vosp - Наличие календарного плана воспитательной работы
missing_programs - Список отсутствующих рабочих программ дисциплин
missing_fos - Список отсутствующих ФОС
missing_programs_practic - Список отсутствующих рабочих программ практики
missing_methodical_materials - Список отсутствующих методических материалов

program_dis - Название рабочей программы дисциплины
fos - Название ФОС
program_practic - Название рабочей программы практики
methodical_material - Название методического материала
-->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отчет о проверке учебного плана</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="report-meta">
                <div class="meta-item">
                    <strong>Дата проверки:</strong> {{ verification_date }}
                </div>
            </div>
        </div>

        <!-- Информация об учебном плане -->
        <div>
            <h3>Информация об учебном плане</h3>
            {% for item in items %}
            <details>
                <summary>Образовательная программа: {{ item.specialty }} ({{ item.curriculum_year }})</summary>
                <br>
                <div class="item" data-page="{{ loop.index }}"> 
                    <div><strong>Файл:</strong> {{ item.curriculum_file }}</div>
                    <div><strong>URL сайта:</strong> <a href="{{ site_url }}" target="_blank">{{ item.site_url }}</a></div>
                    <div><strong>Специальность:</strong> {{ item.specialty }}</div>
                    <div><strong>Год приема:</strong> {{ item.curriculum_year }}</div>
                    <div><strong>Уровень образования:</strong> {{ item.lvl_education }}</div>
                    <div><strong>Форма обучения:</strong> {{ item.form_education }}</div>
                    <br>
                    <div><strong>Образовательная программа:</strong> 
                        {% if item.education_program %}
                            <span style="color: green;"> + </span>
                        {% else %}
                            <span style="color: red;"> - </span>
                        {% endif %}
                    </div>
                    <div><strong>Календарный учебный график:</strong> 
                        {% if item.calendar_graphic %}
                            <span style="color: green;"> + </span>
                        {% else %}
                            <span style="color: red;"> - </span>
                        {% endif %}
                    </div>
                    <div><strong>Учебный план:</strong>
                        {% if item.curriculum_plan %}
                            <span style="color: green;"> + </span>
                        {% else %}
                            <span style="color: red;"> - </span>
                        {% endif %}
                    </div>
                    <div><strong>Программа ГИА:</strong>
                        {% if item.gia_program %}
                            <span style="color: green;"> + </span>
                        {% else %}
                            <span style="color: red;"> - </span>
                        {% endif %}
                    </div>
                    <div><strong>Рабочая программа воспитания:</strong> 
                        {% if item.education_program_vosp %}
                            <span style="color: green;"> + </span>
                        {% else %}
                            <span style="color: red;"> - </span>
                        {% endif %}
                    </div>
                    <div><strong>Календарный план воспитательной работы:</strong> 
                        {% if item.education_plan_vosp %}
                            <span style="color: green;"> + </span>
                        {% else %}
                            <span style="color: red;"> - </span>
                        {% endif %}
                    </div>
                    
                    <div class="missing-section">
                        <h3>Отсутствующие компоненты</h3>
                        <div class="missing-list">  
                            <div><strong>Рабочие программы дисциплин:</strong><br> 
                                {% if item.missing_programs %} 
                                    {% for program_dis in item.missing_programs %}
                                        <li>{{ program_dis }}</li>
                                    {% endfor %}
                                {% else %}
                                    Отсутствующих рабочих программ дисциплин нет
                                {% endif %}
                            </div><br>

                            <div><strong>ФОС:</strong><br>
                                {% if item.missing_fos %}
                                    {% for fos in item.missing_fos %}
                                        <li>{{ fos }}</li>
                                    {% endfor %}
                                {% else %}
                                    Отсутствующих ФОС нет
                                {% endif %}
                            </div><br>

                            <div><strong>Рабочие программы практики:</strong><br> 
                                {% if item.missing_programs_practic %}
                                    {% for program_practic in item.missing_programs_practic %}
                                        <li>{{ program_practic }}</li>
                                    {% endfor %}
                                {% else %}
                                    Отсутствующих рабочих программ практики нет
                                {% endif %}
                            </div><br>

                            <div><strong>Методические материалы:</strong><br>
                                {% if item.missing_methodical_materials  %}
                                    {% for methodical_material in item.missing_methodical_materials %}
                                        <li>{{ methodical_material }}</li>
                                    {% endfor %}
                                {% else %}
                                    Отсутствующих методических материалов нет
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </details>
            {% endfor %}
        </div>
    </div>
</body>


</html>    